repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.2
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/hoxbro/ty-pre-commit # TODO: switch to official when available
    rev: v0.0.12
    hooks:
      - id: ty-check
