@import "tailwindcss";

@theme {
  --color-primary: #5D5C61;
  --color-accent: #B1A296;
  --color-secondary: #7395AE;
  --color-bg: #F4F7F6;

  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Custom CSS variables usage or base styles */
body {
  @apply bg-slate-50 text-slate-800 font-sans antialiased;
}